h1{
			color: red;
			font-weight: 500;
			font-family: Arial;

		}
		img{
			border: 1px solid blue
		}
		h2{
			color: black;
			font-size: 16px;
		}
		.parrafo{
			color: yellow;
			font-size: 14px;
		
		}